.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #262626;
}

.header-bar {
  background-color: #191919;
  width: 100vw;
  height: 25px;
}

.header-text {
  display: flex;
  justify-content: flex-start;
  color: white;
  padding-left: 10px;
  text-decoration: none;
}

h1,
h2 {
  margin-top: 10px;
}

h2 {
  padding-top: 8px;
  padding-left: 20px;
}

.button {
  background-color: #58b0f0;
  height: 50px;
  width: 200px;
  padding: 10px 5px;
  margin: 10px auto;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white;
}

.input-button {
  background-color: #58b0f0;
  height: 50px;
  padding: 10px 35px;
  margin: 10px 0;
  border-radius: 50px;
  border: none;
  font-size: 20px;
  text-align: center;
  color: white;
}

.button-link {
  color: white;
  text-decoration: none;
  top: 12px;
  position: relative;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  text-align: center;

  width: 80%;

  padding-top: 20px;
  font-size: 24px;
}

.small-hr {
  width: 150px;
  color: black;
}

.flex-row {
  display: flex;
  width: 70%;
  min-width: 500px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.flex-row-pf {
  display: flex;
  width: 100%;
  min-width: 500px;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding: 0px 5px 0px 10px;
  border-radius: 4px;
}

.flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  width: 55%;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
  width: 10%;
  padding-top: 15px;
  margin: auto 0;
}

.form-label {
  margin: auto 0;
  width: 300px;
  text-align: left;
}

.infoIcon {
  width: 25px;
  height: 25px;
  padding-top: 3px;
  padding-left: 5px;
}

.table-preview {
  border: 1px black solid;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

.text-left {
  text-align: left;
}

.table-container {
  width: 100%;
  overflow-x: scroll;
}

table {
  width: 100%;
  border-spacing: 0;
  border: 2px solid black;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.multiselect {
  width: calc(100% - 325px);
  padding-top: 5px;
  padding-bottom: 5px;
}

.column-mapping-title {
  display: flex;
  flex-direction: row;
}

.column-mapping-title > img.infoIcon {
  position: relative;
  top: 32px;
  padding-left: 15px;
}

.flex-row > input[type="text"] {
  width: calc(100% - 80px);
  float: right;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  padding: 8px 5px 8px 10px;
  font-size: 20px;
}

input[type="text"] {
  width: calc(100% - 80px);
  float: right;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  padding: 8px 5px 8px 10px;
  font-size: 20px;
}

.searchBox {
  float: left !important;
  padding: 0px 0px 0px 0px !important;
  font-size: 18px !important;
  height: 0px;
}

span.chip {
  float: left;
}

.form-label-time {
  margin: auto 0;
  width: 150px;
  text-align: left;
}
.flex-row-right-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 250px);
  max-width: 600px;
}

.react-datepicker__input-container input[type="text"] {
  width: 100% !important;
}

.flex-row-export {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 250px);
  min-width: 500px;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.form-label-export {
  width: 200px;
  text-align: left;
}

.export-item {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.flex-center-vert {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
}

input[type="checkbox"]:checked {
  background-color: red;
}
